body {
    font-family: Arial, sans-serif;
    background-color: white;
    color: black;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.product-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 15px;
    padding: 20px;
    width: 300px;
    text-align: center;
    transition: transform 0.2s;
}

.product-card:hover {
    transform: scale(1.05);
}

.product-card img {
    border-radius: 5px;
    max-width: 100%;
    height: auto;
}

.product-card h2 {
    font-size: 24px;
    margin: 15px 0;
}

.product-card .price {
    font-size: 20px;
    color: #2fe622;
    margin-bottom: 10px;
}

.product-card .description {
    font-size: 16px;
    color: #555;
    margin-bottom: 20px;
}

.product-card .add-to-cart {
    background-color: #2fe622;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 10px 20px;
    text-transform: uppercase;
    transition: background-color 0.3s;
}

.product-card .add-to-cart:hover {
    background-color: #d35400;
}
